.new-expense_control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense_control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-expense_actions{
    text-align: right;
}